.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0;
  align-items: center;
  width: 80%;
  margin-left: 20%;
  margin-top: 60px;
  position: relative;
  overflow: auto;

}

/* .card {
  width: 65%;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
} */

table {
  width: 80%;
  border-collapse: collapse;
  margin-left: 20%;
  margin-top: 60px;

 
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #ddd;
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.p-4 {
  padding: 16px;
}
